html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin:8px;  
  font-family: monospace;
}

#container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
}


/*MENU*/
#menu {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 40px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#menu li {
  vertical-align: middle;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 150px;
  height: 150px;  
  transition: 500ms;  
  flex-basis: 20%;
}

#menu li:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

#menu li:nth-child(3) {
  background-color: rgb(255, 255, 255);
}

#menu a {
  text-decoration: none;
  color: #000000;
  flex-basis: 20%;
  margin: 0;
}

#menu a:hover {
  color: white;
}

#logo {
  height: 150px;
}


/*SOCIALS*/
#socials-bar { 
  display: inline-block;
  width: 60%;
  position: fixed;
  bottom: 0;
  left: 20%;
}

#socials { 
  height: 40px;
  display: flex;
  justify-content: center;
  list-style: none;  
  padding-inline-start: 0;
  margin: 0;
  width: 100%;
}

#socials a {
  width: 20%;
}
#socials li {
  height: 40px;
  text-align: center;  
  background-color: #000000;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  line-height: 40px;
  transition: 500ms;
  cursor: pointer;
}

#socials li:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

#socials a {
  text-decoration: none;
  color: inherit;
}



/*SQUAD*/

#squad {
  margin: 5% 5% 0 5%;
  display: flex;
  justify-content: space-evenly;
}
.squad-img-box {
  overflow: hidden;
  position: relative;
  height: 500px;
  cursor: pointer;
}

.squad-img-box img {
  transition: all 0.3s;
  transform: scale(1)
}

.squad-img-box:hover img {
  transform: scale(1.1);
}

.squad-img-hover, .squad-img-hover-multi {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 500px;
  text-align: center;
  transition: all 0.3s;
}

.squad-img-box:hover .squad-img-hover {
  opacity: 0.7;  
}

.squad-img-hover-multi:hover {
  opacity: 0.7;
}

.squad-img-hover-multi p {
  line-height: 0;
}

.squad-img-hover-multi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#squad-info {
  background-color: rgb(238, 238, 238, 0.95);
  border: solid;
  border-width: 5px;
  border-color: black;
  width: 500px;
  padding: 0 10px 0 10px;
  position: fixed;
  left: 50%;
  top: 16%;
  transform: translate(-50%);
  display: none;
  z-index: 5;
}

#squad-info-title {
  display: flex;
  justify-content: space-between;
}

#squad-info-close{
  font-size: 40px;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

#squad-info-overlay {
  background-color: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 4;
}

#squad-info-socials {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

#squad-info-socials a {
  flex-basis: auto;
  flex-grow: 1;
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: #000000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  box-sizing: border-box;
}

#squad-info-socials a:hover {
  background-color: white;
  color: black;
}

/* VIDEO */
#video-container{
  background-color: rgb(238, 238, 238);
  margin: 100px 0 0 0;
  padding: 50px 0 50px 0;
}
.video-row {
  display: flex;
  justify-content: center;
}

.video {
  margin: 50px 5px 20px 5px;
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.video-info {
  text-align: center;
}

.video-info p {
  margin-block-start: 0;
  margin-block-end: 0;
  white-space: nowrap;
}

.video-info p:nth-child(3) {
  padding-bottom: 10px;
}

.video-title {
  font-size: 15px;
  padding-bottom: 5px;
}

.video-image {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}

.video-image:hover {
  transform: scale(0.9);  
}

.video img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#more-on-yt {
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

#more-on-yt p {
  margin-bottom: 10px;
}

#more-on-yt-button {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  background-color: red;
  height: 80px;
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.7s;
}

#more-on-yt-button:hover {
  background-color: white;
  color: red;
  border: 5px solid red;
}

/* SHOWS */
#shows{
  padding: 50px 0 50px 0;
}
#booking {
  text-align: center;
  font-size: 20px;
}

#showlist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 20px;
  border-spacing: 20px;
  width: auto;
  max-width: 80%;
  word-break: break-all;
}

#showlist td {
  min-width: 80px;
}

.show-event a {
  text-decoration: underline;
  color: black;
}

/* CONTACT */
#contact-container {
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding: 50px 0 0 0;
  margin-bottom: 50px;
}

#contact-container h1 {
  font-weight: normal;
}

#contact-container form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#contact-email {
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  padding: 0;   
  border-width: 1px;
  border-style: solid;
  text-indent: 5px;
  font-family: monospace;
  box-sizing: border-box;
}

#contact-msg {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 5px 0 0 0;
  margin: 0 0 10px 0;  
  border-width: 1px;
  border-style: solid;  
  text-indent: 5px;  
  font-family: monospace;
  box-sizing: border-box;
}

#contact-button {
  height: 40px;
  width: 100%;
  padding: 0;  
  margin: 0 0 0 0;  
  border-width: 1px;
  border-style: solid;
  font-family: monospace;
  background-color: black;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.7s;
}

#contact-button:hover {
  background-color: white;
  border: solid 5px black;
  color: black;
}

/*FOOTER*/

footer {
  height: 100px;
  line-height: 100px;
}
/* BACK TO START BUTTON */

#back-to-start-button {
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.7s;
  background-color: rgb(238, 238, 238);
  display: none;
}

#back-to-start-button:hover {
  background-color: #000000;
  color: white;
  border: 5px solid white;
}
