body {
  background-color: black;
  margin:8px;  
  font-family: monospace;
}

#container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 2000px;
  margin: auto;
}

/*MENU*/
#menu {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 40px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#menu li {
  vertical-align: middle;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 150px;
  height: 150px;  
  transition: 500ms;
  flex-basis: 20%;
}

#menu li:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

#menu li:nth-child(3) {
  background-color: rgb(255, 255, 255);
}

#logo {
  height: 150px;
}

/*SOCIALS*/
#socials-bar { 
  display: inline-block;
  width: 60%;
  position: fixed;
  bottom: 0;
  left: 20%;
}

#socials { 
  height: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  list-style: none;  
  padding-inline-start: 0;
  margin: 0;
  width: 100%;
}

#socials li {
  height: 40px;
  text-align: center;  
  background-color: #000000;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  line-height: 40px;
  transition: 500ms;
  width: auto;
}

#socials li:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/*SQUAD*/

#squad {
  margin: 5% 5% 0 5%;
  display: flex;
  justify-content: space-evenly;
}
.squad-img-box {
  overflow: hidden;
  position: relative;
  height: 500px;
}

.squad-img-box img {
  transition: all 0.3s;
  transform: scale(1)
}

.squad-img-box:hover img {
  transform: scale(1.1);
}

.squad-img-hover, .squad-img-hover-multi {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 500px;
  text-align: center;
  transition: all 0.3s;
}

.squad-img-box:hover .squad-img-hover {
  opacity: 0.7;  
}

.squad-img-hover-multi:hover {
  opacity: 0.7;
}

.squad-img-hover-multi p {
  line-height: 0;
}

.squad-img-hover-multi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* VIDEO */
#video-container{
  background-color: rgb(235, 227, 227);
  margin: 100px 0 0 0;
  padding: 50px 0 50px 0;
}
.video-row {
  display: flex;
  justify-content: center;
}

.video {
  margin: 50px;
  height: 300px;
  width: 40%;
  overflow: hidden;
  position: relative;
}

.video img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

